.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh
}

.wrapper{
  border:1px solid #000;
}

.cell{
  width:20px;
  height:20px;
  display:inline-block;
}

.wall{
  background:blue;
}

.road{
  background:red;
}
