*{
  padding:0;
  margin:0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.wrapper{
  border:1px solid #424242;
}

.cell{
  width:5px;
  height:5px;
  display:inline-block;
}

.wall{
  background:#69f0ae;
}

.road{
  background:#fff;
}

.path{
  background:yellow;
}
